<?xml version="1.0" encoding="utf-8"?><!--
Student Companion - An Android App that has features like attendance manager, note manager etc
Copyright (C) 2019  Pranav Vyas

This file is a part of Student Companion.

Student Companion is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Student Companion is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vyas.pranav.studentcompanion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".utils.MainApp"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme">
        <activity android:name=".ui.activities.ImportExportActivity">

        </activity>
        <activity
            android:name=".ui.activities.AddNoteActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.NotesActivity" />
        <activity
            android:name=".ui.activities.NotesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.NotificationPreferenceActivity"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.ContainerActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.UploadBookActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.DigitalLibraryActivity" />
        <activity
            android:name=".ui.activities.DigitalLibraryActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.OpenSourceInformationActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.MainActivity" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activities.OverallAttendanceDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.AttendanceIndividualActivity"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.SetUpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service android:name=".services.EditOverallAttendanceIntentService" />
        <service android:name=".services.AttendanceEditIntentService" />
        <service android:name=".services.ToggleSilentDeviceIntentService" />
        <service
            android:name=".services.NotificationFcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FenceAutoAttendanceIntentService" />

        <activity
            android:name=".ui.activities.SignInActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AutoAttendanceSubjectListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.AutoAttendanceSubjectDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.AutoAttendanceSubjectListActivity" />
        <activity
            android:name=".ui.activities.MarketPlaceSellItemActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.schibstedspain.leku.LocationPickerActivity"
            android:label="@string/leku_title_activity_location_picker"
            android:parentActivityName=".ui.activities.AutoAttendanceSubjectListActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/leku_searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.AutoAttendanceSubjectListActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/api_fence_key" />
    </application>

</manifest>